body {
	background-color: #FAEBD7;
}

p {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 30px;
  color: #2F4F4F;
}

h1 {
  text-transform: uppercase;
  color: #2F4F4F;
}

h2 {
  color: green;
}

li {
  font-family: "Times New Roman", Times, serif;
}

h4 {
  color: #DC143C;
}

